<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bad Request</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <style>

        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
            font-family: 'Roboto', sans-serif;
        }
        #rcorners {
          border-radius: 10px;
          border: 2px solid #1515c5;
          padding: 20px;
          width: 350px;
          height: 130px;
          text-align: center;
        }
    </style>
</head>
<body>
<div id="rcorners">
    <h1>400 Bad Request</h1>
    <p>The request could not be understood by the server due to malformed syntax.</p>
</div>
</body>
</html>
